.about{
    width: 80%;
    height: 100vh;
    border-top: 2px solid rgb(79, 67, 67);
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
    /* border-bottom: 2px solid rgb(79, 67, 67); */
}

.aboutMe{
    margin: 50px 0px;
    font-weight: 300;
}

.chef{
    width: 63%;
    height: 67vh;
}

h2{
    font-weight: 300;
}